<!-- @format -->
<% layout('layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-item-center mt-5">
	<div class="row w-100">
		<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
			<div class="card shadow">
				<img
					src="https://images.unsplash.com/photo-1468861389126-e0ca735dba0d?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjh8fGJlYWNoJTIwcGhvdG98ZW58MHx8MHx8fDA%3D"
					alt=""
					class="card-img-top" />
				<div class="card-body">
					<h5 class="card-title">Sign up</h5>
					<form
						class="validated-form"
						action="/register"
						method="post"
						novalidate>
						<div class="mb-3">
							<label for="username" class="form-label">username</label>
							<input
								type="text"
								id="username"
								class="form-control"
								name="username"
								autofocus
								required />
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="mb-3">
							<label for="email" class="form-label">email</label>
							<input
								type="email"
								id="email"
								class="form-control"
								name="email"
								required />
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">password</label>
							<input
								type="password"
								id="password"
								class="form-control"
								name="password"
								required />
							<div class="valid-feedback">Looks good!</div>
						</div>
						<button class="btn btn-success btn-block">register</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
